<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/ticket-management-service.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="Root" fileName="logs/ticket-management-service-root.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Root"/>
        </Root>

        <Logger name="com.fintechband.controllers.TicketsController" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.fintechband.services.impl.PaymentsServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.fintechband.exceptions.PaymentServiceExceptionHandler" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>